<div class="row">


  <div *ngIf="arrObjImagenes.length == 0" class="text-center">
    <img src="../../../assets/img/not_result_img.png" class="rounded not-result animate__animated animate__rubberBand">
  </div>

  <div *ngFor="let image of arrObjImagenes" class="col-md-3 col-sm-6 animate__animated animate__backInDown">
    <div class="card mb-1">
      <div class="card-body">
        <!-- <img src="{{ image.images.downsized_medium.url }}" class="card-img-top rounded" /> -->
        <img [src]="image.images.downsized_medium.url" class="card-img-top rounded" />
        <p class="card-text text-center">
          {{ image.title }}
        </p>
      </div>
    </div>
  </div>


</div>