html,
body {
    height: 100%;
}

.inputBuscar {
    max-width: 300px;
}

#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
    max-width: 220px;
}

.not-result {
    /* width: 700px; */
    height: 350px;

    /* object-fit: cover; */
}

/* img {
    width: 300px;
    height: 200px;
    object-fit: cover;
} */

p {
    font-size: 1.0rem !important;
}


@media (min-width: 900px) {
    p {
        font-size: 1.5rem;
    }
}